@model IEnumerable<PXLPro2022Shoppers07.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="container pb-5">

    <div class="row">



        <div class="col-md-3">
            @await Component.InvokeAsync("CategoriesMenu")
        </div>


      
        <div class="col-md-9">

            <div class="row">

                @foreach (var product in Model)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="@product.ProductImage[0].Base64String" alt="@product.ProductName">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a asp-action="Product" asp-route-id="@product.ProductId"> @product.ProductName</a>
                                </h4>
                                <p class="card-text pt-2 description">
                                    @product.ProductDescription
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted product-price">
                                    @product.Price.ToString("C")
                                </small>
                                <a asp-action="Product" asp-route-id="@product.ProductId" class="btn btn-default btn-sm float-right">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    Shop now
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>

</div>
